﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://gitlab.com/empfangsbekenntnis/eeb-app" target="_blank"
                class="ml-md-auto">Code auf GitLab</a>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About Blazor</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
